<div class="static-info">
<div class="center-cont">
    <div>
    <a href="https://www.ruby-lang.org/en/"><%= image_tag "Ruby_logo.svg" %></a>
    <a href="http://rubyonrails.org/"><%= image_tag "260px-Ruby_on_Rails_logo.svg.png" %></a>
    <a href="https://jquery.com/"><%= image_tag "jquery.png" %></a>
    <a href="http://www.postgresql.org/"><%= image_tag "SQLite370.svg.png" %></a>
    <a href="https://atom.io/"><%= image_tag "Brackets_Icon.svg.png" %></a>
    <a href="http://sass-lang.com/"><%= image_tag "sass_logo.png" %></a>
        <a href="http://www.inkscape.org/"><%= image_tag "inkscape_logo.jpg" %></a>
    <a href="http://stackoverflow.com/"><%= image_tag "stackoverflow-logo.png" %></a>
    <a href="https://www.heroku.com/"><%= image_tag "heroku-logo.png" %></a>
    </div>
</div>
  <h1>About umassems.org</h1>

  <p>This page is about the making of the website itself. This page serves as a sort of developer blog, a way for me to announce development goals and discuss my progress on them, a place to answer questions about the website, a place to say thank you to and promote all of the amazing resources that make this website possible, and a potential resource for other developers who might want to make something similar.</p>

  <p>If you are not into IT or web design reading this will be pretty boring. This website was built using <span class="bold">ruby on rails</span>. It is powered by a <span class="bold">PosgreSQL</span> server and hosted on <span class="bold">heroku</span>. The code was written with <span class="bold">Atom</span>, the best text editor. This is my first website (unless you count some WYSIWYG sites I built a while ago). The website itself is soley created by me but would not be possible without some great resources. The source code will be on github shortly. I know it won't ever really be used but I think Open Source is important so I will always make sure this site lives up to that standard.  Passwords are encrypted using the <span class="bold">bcrypt</span> gem. I always respect my users privacy and unencrypted passwords are NEVER stored on my servers.</p>

  <h2>Development Goals</h2>
  <li>Switch to my own private server</li>
  <li>Online shift picking</li>
  <li>Texting functionality</li>
  <li>Email functionality</li>

  <h2>Resources Used</h2>
  <h2>Hover.css</h2>
  <p>I would like to credit to the people behind hover.css. Every effect they make is clean, beautiful, completely customizable, and professional. Check them out <a href="http://ianlunn.github.io/Hover/">here</a>. I used some of their buttons but others are made from scratch.</p>
  <h2>Inkscape</h2>
  <p>All of the graphics I have created were created on inkscape. Inkscape is a great open source vector editor (compare to adobe illustrator) and it is amazing for creating scalable vector graphics.</p>
  <h2>Stack Overflow</h2>
  <p>The stack overflow community is always beyond helpful and this website would not be possible without them.</p>
</div>
